.board {
    width: 648px;
    height: 302px;
    background: url(urboard.png);
    position: relative;
}

.piece {
    width: 60px;
    height: 60px;
    position: absolute;
}

.piece.player-1 {
    background-color: red;
}

.piece.player-2 {
    background-color: blue;
}

.current-player {
	font-size: 28px;
}

.player-1 {
	color: red;
}

.player-2 {
	color: blue;
}
